body {
    background-color: #000000;
    color: #ffffff;
}

p {
    width: 400px;
    margin: auto;
    text-align: center;
}

#playfooter {
    background: #000000;
}

#board {
    width: 30%;
    margin: auto;
    background: #000000;
}

.boarddata {
    width: 500px;
    height: 500px;
    margin: auto;
    display: none;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}

@media handheld, only screen and (max-width:1040px){
    #board {
        width: 50%;
        margin: auto
    }
    
    .boarddata {
        width: 90%;
        margin: auto;
    }
    
    .move-history {
        max-height: 20%;
        overflow-y: scroll;
    }    
}